body {
    font-family: 'DM Sans', sans-serif;
    background: black;
    color: white;
}

/* HEADER */
header {
    background: black;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding: 16px 30px;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    color: #e50914;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 28px;
}

nav a {
    font-size: 14px;
    font-weight: 500;
    color: #b3b3b3;
}

a { 
    text-decoration: none; 
}

nav a:hover {
    color: #ffffff;
}

/* ABOUT ME */
.about_me_container {
    padding: 64px 38px;
    border-bottom: 1px solid #333;
    background: linear-gradient(135deg, #1a1a2e 0%, #1d2437 50%, #0b2e59 100%);
}

.about_me {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.tag {
    display: inline-block;
    background: red;
    color: white;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 4px 11px;
    border-radius: 3px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
    line-height: 1.1;
    margin-bottom: 12px;
    color: #ffffff;
}

.about_me_container p {
    color: #b3b3b3;
    font-size: 15px;
    max-width: 520px;
    line-height: 1.8;
}

.photo {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: #2a2a2a;
    border: 4px solid #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #737373;
    font-size: 13px;
    gap: 6px;
}

/* SECTION */
.section {
    width: 960px;
    margin: 0 auto;
    padding: 48px 24px;
}

.section-label {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2.5px;
    color: #e50914;
}

.section h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    letter-spacing: 1.5px;
    color: white;
    margin-bottom: 25px;
}

/* SKILLS */
.skills-grid {
    display: flex;
    gap: 22px;
}

.skill-card {
    flex: 1;
    background: #1e1e1e;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 28px;
}

.skill-card h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 8px;
}

.skill-card ul {
    margin-bottom: 19px;
}

.skill-card li {
    padding-left: 16px;
    color: #b3b3b3;
    font-size: 14px;
    margin-bottom: 6px;
    position: relative;
}

.skill-card ul li::marker{
    color: red;
}

/* PROGRESS BARS */
/* reference: https://www.w3schools.com/w3css/w3css_progressbar.asp */
.bar-row {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #737373;
    margin-bottom: 3px;
}

.bar-track {
    height: 5px;
    border-radius: 3px;
    background: #2a2a2a;
    margin-bottom: 8px;
}

.bar-fill {
    height: 100%;
    border-radius: 3px;
    background: #e50914;
}

/* PROJECTS */
.project-card {
    background: #1e1e1e;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 25px 28px;
    margin-bottom: 16px;
    display: flex;
    gap: 19px;
    align-items: flex-start;
}

.project-title {
    display: flex;          
    align-items: baseline;
    gap: 12px;             
}

.project-number {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    color: #333;
    line-height: 0.8;
}


/* Title ng game */
.project-info h3 {
    font-size: 16px;
    font-weight: 600;
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 7px;
}

.project-info .tag {
    font-size: 11px;
    font-weight: 500;
    background: #2a2a2a;
    color: #737373;
    padding: 3px 8px;
    border-radius: 14px;
    margin-right: 4px;
    margin-bottom: 6px;
    border: 1px solid #333;
}


.project-info p {
    color: #b3b3b3;
    font-size: 14px;
    margin-top: 6px;
    line-height: 1.7;
}

.project-photo {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;     
}
  
.project-photo img {
    width: 100%;
    height: 100%;
    display: block;
}

/* FOOTER */
footer {
    background: #111;
    border-top: 1px solid #333;
    padding: 48px 38px 25px;
}

.footer-inner {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 38px;
    margin-bottom: 32px;
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #ffffff;
    margin-bottom: 11px;
}

footer p {
    font-size: 13px;
    color: #737373;
    line-height: 1.9;
    }
    
footer a {
    font-size: 13px;
    color: #737373;
}

footer a:hover {
    color: #e50914;
}


